baseq2/
docs/
rogue/
xatrix/
steam_shader_cache/
Debug/
DebugAXP/
Release/
ReleaseAXP/
ctf/debug/
game/debug/
ref_soft/debug/
ref_gl/debug/
ref_dx11/Debug/
ref_dx11/Release/
ref_dx11/x64/
ref_dx12/Debug/
ref_dx12/Release/
ref_dx12/x64/
packages/
logs/
*.pak
*.ico
*.exe
*.dll
*.cfg
*.ipch
*.db
.vs/quake2/v15/.suo
*.opendb
*.db-wal
*.db-shm
UpgradeLog.htm
ref_soft/debug/ref_soft.log
*.obj
*.tlog
*.idb
*.pdb
*.log
*.ilk
baseq2/config.cfg
*.ssv
ctf/CTF_readme.txt
*.tlog
*.bat
*.tlog
*.idb
ref_dx12/Debug/vc141.pdb
*.lastbuildstate
*.obj
*.ssv
*.lastbuildstate
*.tlog
baseq2/config.cfg
*.ssv
*.pak
*.bsc
ctf/readme.txt
ref_dx11/Debug/ref_dx11.log
*.sbr
Debug/quake2.exe
*.ilk
Debug/ref_dx11.dll
Debug/quake2.bsc
*.log
*.TMP
*.nupkg
packages/
vcpkg_installed/
quake2.aps
ref_dx12.exp
ref_dx12.exp
*.exp
